[submodule]
	recurse = true
[user]
	name = Artem Medvedev
  email = i@ddtkey.com

[url "git@github.com:"]
  insteadOf = https://github.com/

[includeIf "gitdir:~/work/**"]
  path = ~/work/.gitconfig

[merge]
	tool = nvimdiff
[diff]
	tool = nvimdiff
[difftool "vimdiff"]
	layout = LOCAL,REMOTE
[mergetool "vimdiff"]
	layout = LOCAL,BASE,REMOTE / MERGED

